.cardImage{
    max-width:  200px;
    max-height: 400px;
    padding: 10px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.cardInfo{
    display: flex;
    width: 150px;
    height: 70px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 10px;
}