body{
    font-family: 'Roboto', sans-serif;
    margin: 10px 30px;
    padding: 0;
    background-image: url('/bg.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: black;
}